@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* Header Part*/
.header{
    padding-top: 65px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 5;
}
.my-width{
    max-width: 1177px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.my-width .menu ul li{
    display: inline-block;
}
.my-width .menu ul li a{
    text-decoration: none;
    color: #fff;
    margin-left: 45px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.my-width .menu ul li a:hover{
    color: darkblue;
}
/* Header part end*/

/* Banner Part*/
.banner{
    background-image: url(../images/Banner.png);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    height: 600px;
    background-size: cover;
    position: relative;
    z-index: 2;
}
.banner-content{
    max-width: 875px;
    margin: auto;
    position: absolute;
    top: 25%;
    left: 25%;
}
.banner-content h2{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: #fff;
    max-width: 590px;
    margin: auto;
    text-align: center;
    margin-bottom: 40px;
}
.banner-content p{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    text-align: center;
}
/* Search Var*/
.search-box{
    position: absolute;
    top: 73%;
    left: 36%;
    transform: translate(-50%, -50);
    background-color: #fff;
    width: 500px;
    height: 65px;
    border-radius: 40px;
    padding:10px
}
/* Hover*/
.search-box:hover >.search-text{
    width: 240px;
    padding: 0px 6px ;
}
.search-box:hover{
    background-color: gray;
}
.search-box:hover > .search-button{
    background: white;
}
/* Hover end*/
.search-button{
    color: #e1e1e1;
    float: right;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.search-text{
   border: none;
   background: none;
   outline: none;
   float: left;
   padding: 0px;
   color: #e1e1e1;
   font-size: 16px;
   transition: 0.4s;
   line-height: 38px;
   font-family: 'Lato', sans-serif;
   font-weight: 400;
   width: 0px;
}
/* Graf part*/
.graf{
    position: relative;
    margin-bottom: 140px;
}
.graf-1{
    width: 140px;
    height: 185px;
    border-radius: 25px;
    background-color: #f8f8f8;
    box-shadow: 10px 10px 5px #c8c8c8;
    position: absolute;
    top: -8px;
    left: 28%;
}
.graf-1 h2{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 28px;
    color: #f2b115;
    text-align: center;
}
.graf-1 p{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #c1c1c1;;
    text-align: center;
}
.graf-1 .abc2{
    position: absolute;
    top: 130px;
    left: 25px;
}
.graf-1 .abc1{
    position: absolute;
    top: 5%;
    left: 72%;
}
/* graf-2*/
.graf-2{
    width: 320px;
    height: 120px;
    background-color:white;
    border-radius: 25px;
    box-shadow: 10px 10px 5px #c8c8c8;
    position: relative;
    top:-45px;
    left: 48%;
    z-index: 5;
}
.graf-2 .abc-1{
    position: absolute;
    top:5%;
    left: 73%;
}
.graf-2 .abc-2{
    position: absolute;
    top:32%;
    left: 3%;
}
.graf-2 h5{
    font-size: 28px;
    font-weight: 700;
    color: #42c3af;
    text-align: center;
}
.graf-2 p{
    font-size: 16px;
    font-weight: 400;
    color: #c1c1c1;
    text-align: center;
    max-width: 210px;
    margin: auto;
}
/* graf part end*/

/* Content-1*/
.content-1{
    max-width: 1080px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.content-1 h1{
    font-size: 60px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    color: #1b2f4d;
    max-width: 390px;
}
.content-1 a{
    font-size: 14px;
    font-weight: 700;
    
    text-decoration: none;
    color: white;
    width: 200px;
    height: 50px;
    display: inline-block;
    background-color: #f95157;
    line-height: 50px;
    border-radius: 28px;
    text-align: center;
}
.content-1 a:hover{
    background-color: greenyellow;
    color: white;
}
/* content-2*/
.content-2{
    max-width: 1120px;
    margin: auto;
    display: flex;
    margin-bottom: 85px;
}
.content-2 .icon{
    width: 20px;
    height: 6px;
    background-color: #f95157;
    border-radius: 25%;
}
.content-2 p{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-left: 16px;
    color: #999;
    line-height: 20px;
    margin-top: -6px;
}
.p-box-1{
    display: flex;
    line-height: 6px;
}
.p-box-2{
    display: flex;
    line-height: 6px;
    margin-left: 60px;
}
/* content-2 End */

/* Image box */
.box{
    max-width: 1175px;
    margin: auto;
    position: relative;
    display: flex;
    margin-bottom: 220px;
}
.box-1 h2,
.box-2 h2,
.box-3 h2,
.box-4 h2{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}
.box-1{
    position: relative;
}
.box-1 h2{
    position: absolute;
    top: 40px;
    left: 80px;
}
.box-2{
    position: relative;
}
.box-2 h2{
    position: absolute;
    top: 40px;
    left: 80px;
}
.box-3{
    position: relative;
}
.box-3 h2{
    position: absolute;
    top: 40px;
    left: 80px;
}
.box-4{
    position: relative;
}
.box-4 h2{
    position: absolute;
    top: 40px;
    left: 80px;
}
/* Content-3*/
.content-3{
    max-width: 530px;
    margin: auto;
}
.content-3 h1{
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    color: #1b2f4d;
    font-weight: 700;
}
.content-3 span{
    color: #f95157;
}
/* Content-3 End*/

/* Premium Website
.premimum-website{
    max-width: 100%;
    margin: auto;
    display: flex;
}
/* premium website image size
.premimum-website  .premium-1 img{
    width: 330px;
    height: auto;
}
.premimum-website  .premium-2 img{
    width: 435px;
}
.premimum-website  .premium-3 img{
    width: 435;
}
.premimum-website  .premium-4 img{
    width: 146px;
}*/